name: Docker Image

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the SwiftLaTeX Docker image
      run: |
         docker build . --file Dockerfile --tag melashri/Jupyter-ROOT:$(date +%s)


